pyhamlib
sounddevice
numpy
scipy
pyaudio
ggwave
cffi==1.17.1
ggwave
matplotlib==3.10.3
numpy==2.3.0
pycparser==2.22
pyparsing==3.2.3
python-dateutil==2.9.0.post0
scipy==1.15.3
six==1.17.0
soundfile==0.13.1
wcwidth==0.2.13
